<h1 id="request">Request</h1>
<p>A Koa <code>Request</code> object is an abstraction on top of node's vanilla request object, providing additional functionality that is useful for every day HTTP server development.</p>
<h2 id="api">API</h2>
<h3 id="requestheader">request.header</h3>
<p>Request header object.</p>
<h3 id="requestheader-1">request.header=</h3>
<p>Set request header object.</p>
<h3 id="requestheaders">request.headers</h3>
<p>Request header object. Alias as <code>request.header</code>.</p>
<h3 id="requestheaders-1">request.headers=</h3>
<p>Set request header object. Alias as <code>request.header=</code>.</p>
<h3 id="requestmethod">request.method</h3>
<p>Request method.</p>
<h3 id="requestmethod-1">request.method=</h3>
<p>Set request method, useful for implementing middleware such as <code>methodOverride()</code>.</p>
<h3 id="requestlength">request.length</h3>
<p>Return request Content-Length as a number when present, or <code>undefined</code>.</p>
<h3 id="requesturl">request.url</h3>
<p>Get request URL.</p>
<h3 id="requesturl-1">request.url=</h3>
<p>Set request URL, useful for url rewrites.</p>
<h3 id="requestoriginalurl">request.originalUrl</h3>
<p>Get request original URL.</p>
<h3 id="requestorigin">request.origin</h3>
<p>Get origin of URL, include <code>protocol</code> and <code>host</code>.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb1-1" data-line-number="1"><span class="va">ctx</span>.<span class="va">request</span>.<span class="at">origin</span></a>
<a class="sourceLine" id="cb1-2" data-line-number="2"><span class="co">// =&gt; http://example.com</span></a></code></pre></div>
<h3 id="requesthref">request.href</h3>
<p>Get full request URL, include <code>protocol</code>, <code>host</code> and <code>url</code>.</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb2-1" data-line-number="1"><span class="va">ctx</span>.<span class="va">request</span>.<span class="at">href</span><span class="op">;</span></a>
<a class="sourceLine" id="cb2-2" data-line-number="2"><span class="co">// =&gt; http://example.com/foo/bar?q=1</span></a></code></pre></div>
<h3 id="requestpath">request.path</h3>
<p>Get request pathname.</p>
<h3 id="requestpath-1">request.path=</h3>
<p>Set request pathname and retain query-string when present.</p>
<h3 id="requestquerystring">request.querystring</h3>
<p>Get raw query string void of <code>?</code>.</p>
<h3 id="requestquerystring-1">request.querystring=</h3>
<p>Set raw query string.</p>
<h3 id="requestsearch">request.search</h3>
<p>Get raw query string with the <code>?</code>.</p>
<h3 id="requestsearch-1">request.search=</h3>
<p>Set raw query string.</p>
<h3 id="requesthost">request.host</h3>
<p>Get host (hostname:port) when present. Supports <code>X-Forwarded-Host</code> when <code>app.proxy</code> is <strong>true</strong>, otherwise <code>Host</code> is used.</p>
<h3 id="requesthostname">request.hostname</h3>
<p>Get hostname when present. Supports <code>X-Forwarded-Host</code> when <code>app.proxy</code> is <strong>true</strong>, otherwise <code>Host</code> is used.</p>
<p>If host is IPv6, Koa delegates parsing to <a href="https://nodejs.org/dist/latest-v8.x/docs/api/url.html#url_the_whatwg_url_api">WHATWG URL API</a>, <em>Note</em> This may impact performance.</p>
<h3 id="requesturl-2">request.URL</h3>
<p>Get WHATWG parsed URL object.</p>
<h3 id="requesttype">request.type</h3>
<p>Get request <code>Content-Type</code> void of parameters such as &quot;charset&quot;.</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb3-1" data-line-number="1"><span class="kw">const</span> ct <span class="op">=</span> <span class="va">ctx</span>.<span class="va">request</span>.<span class="at">type</span><span class="op">;</span></a>
<a class="sourceLine" id="cb3-2" data-line-number="2"><span class="co">// =&gt; &quot;image/png&quot;</span></a></code></pre></div>
<h3 id="requestcharset">request.charset</h3>
<p>Get request charset when present, or <code>undefined</code>:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb4-1" data-line-number="1"><span class="va">ctx</span>.<span class="va">request</span>.<span class="at">charset</span><span class="op">;</span></a>
<a class="sourceLine" id="cb4-2" data-line-number="2"><span class="co">// =&gt; &quot;utf-8&quot;</span></a></code></pre></div>
<h3 id="requestquery">request.query</h3>
<p>Get parsed query-string, returning an empty object when no query-string is present. Note that this getter does <em>not</em> support nested parsing.</p>
<p>For example &quot;color=blue&amp;size=small&quot;:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb5-1" data-line-number="1"><span class="op">{</span></a>
<a class="sourceLine" id="cb5-2" data-line-number="2">  <span class="dt">color</span><span class="op">:</span> <span class="st">&#39;blue&#39;</span><span class="op">,</span></a>
<a class="sourceLine" id="cb5-3" data-line-number="3">  <span class="dt">size</span><span class="op">:</span> <span class="st">&#39;small&#39;</span></a>
<a class="sourceLine" id="cb5-4" data-line-number="4"><span class="op">}</span></a></code></pre></div>
<h3 id="requestquery-1">request.query=</h3>
<p>Set query-string to the given object. Note that this setter does <em>not</em> support nested objects.</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb6-1" data-line-number="1"><span class="va">ctx</span>.<span class="at">query</span> <span class="op">=</span> <span class="op">{</span> <span class="dt">next</span><span class="op">:</span> <span class="st">&#39;/login&#39;</span> <span class="op">};</span></a></code></pre></div>
<h3 id="requestfresh">request.fresh</h3>
<p>Check if a request cache is &quot;fresh&quot;, aka the contents have not changed. This method is for cache negotiation between <code>If-None-Match</code> / <code>ETag</code>, and <code>If-Modified-Since</code> and <code>Last-Modified</code>. It should be referenced after setting one or more of these response headers.</p>
<div class="sourceCode" id="cb7"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb7-1" data-line-number="1"><span class="co">// freshness check requires status 20x or 304</span></a>
<a class="sourceLine" id="cb7-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">status</span> <span class="op">=</span> <span class="dv">200</span><span class="op">;</span></a>
<a class="sourceLine" id="cb7-3" data-line-number="3"><span class="va">ctx</span>.<span class="at">set</span>(<span class="st">&#39;ETag&#39;</span><span class="op">,</span> <span class="st">&#39;123&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb7-4" data-line-number="4"></a>
<a class="sourceLine" id="cb7-5" data-line-number="5"><span class="co">// cache is ok</span></a>
<a class="sourceLine" id="cb7-6" data-line-number="6"><span class="cf">if</span> (<span class="va">ctx</span>.<span class="at">fresh</span>) <span class="op">{</span></a>
<a class="sourceLine" id="cb7-7" data-line-number="7">  <span class="va">ctx</span>.<span class="at">status</span> <span class="op">=</span> <span class="dv">304</span><span class="op">;</span></a>
<a class="sourceLine" id="cb7-8" data-line-number="8">  <span class="cf">return</span><span class="op">;</span></a>
<a class="sourceLine" id="cb7-9" data-line-number="9"><span class="op">}</span></a>
<a class="sourceLine" id="cb7-10" data-line-number="10"></a>
<a class="sourceLine" id="cb7-11" data-line-number="11"><span class="co">// cache is stale</span></a>
<a class="sourceLine" id="cb7-12" data-line-number="12"><span class="co">// fetch new data</span></a>
<a class="sourceLine" id="cb7-13" data-line-number="13"><span class="va">ctx</span>.<span class="at">body</span> <span class="op">=</span> await <span class="va">db</span>.<span class="at">find</span>(<span class="st">&#39;something&#39;</span>)<span class="op">;</span></a></code></pre></div>
<h3 id="requeststale">request.stale</h3>
<p>Inverse of <code>request.fresh</code>.</p>
<h3 id="requestprotocol">request.protocol</h3>
<p>Return request protocol, &quot;https&quot; or &quot;http&quot;. Supports <code>X-Forwarded-Proto</code> when <code>app.proxy</code> is <strong>true</strong>.</p>
<h3 id="requestsecure">request.secure</h3>
<p>Shorthand for <code>ctx.protocol == &quot;https&quot;</code> to check if a request was issued via TLS.</p>
<h3 id="requestip">request.ip</h3>
<p>Request remote address. Supports <code>X-Forwarded-For</code> when <code>app.proxy</code> is <strong>true</strong>.</p>
<h3 id="requestips">request.ips</h3>
<p>When <code>X-Forwarded-For</code> is present and <code>app.proxy</code> is enabled an array of these ips is returned, ordered from upstream -&gt; downstream. When disabled an empty array is returned.</p>
<h3 id="requestsubdomains">request.subdomains</h3>
<p>Return subdomains as an array.</p>
<p>Subdomains are the dot-separated parts of the host before the main domain of the app. By default, the domain of the app is assumed to be the last two parts of the host. This can be changed by setting <code>app.subdomainOffset</code>.</p>
<p>For example, if the domain is &quot;tobi.ferrets.example.com&quot;: If <code>app.subdomainOffset</code> is not set, <code>ctx.subdomains</code> is <code>[&quot;ferrets&quot;, &quot;tobi&quot;]</code>. If <code>app.subdomainOffset</code> is 3, <code>ctx.subdomains</code> is <code>[&quot;tobi&quot;]</code>.</p>
<h3 id="requestistypes">request.is(types...)</h3>
<p>Check if the incoming request contains the &quot;Content-Type&quot; header field, and it contains any of the give mime <code>type</code>s. If there is no request body, <code>null</code> is returned. If there is no content type, or the match fails <code>false</code> is returned. Otherwise, it returns the matching content-type.</p>
<div class="sourceCode" id="cb8"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb8-1" data-line-number="1"><span class="co">// With Content-Type: text/html; charset=utf-8</span></a>
<a class="sourceLine" id="cb8-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">is</span>(<span class="st">&#39;html&#39;</span>)<span class="op">;</span> <span class="co">// =&gt; &#39;html&#39;</span></a>
<a class="sourceLine" id="cb8-3" data-line-number="3"><span class="va">ctx</span>.<span class="at">is</span>(<span class="st">&#39;text/html&#39;</span>)<span class="op">;</span> <span class="co">// =&gt; &#39;text/html&#39;</span></a>
<a class="sourceLine" id="cb8-4" data-line-number="4"><span class="va">ctx</span>.<span class="at">is</span>(<span class="st">&#39;text/*&#39;</span><span class="op">,</span> <span class="st">&#39;text/html&#39;</span>)<span class="op">;</span> <span class="co">// =&gt; &#39;text/html&#39;</span></a>
<a class="sourceLine" id="cb8-5" data-line-number="5"></a>
<a class="sourceLine" id="cb8-6" data-line-number="6"><span class="co">// When Content-Type is application/json</span></a>
<a class="sourceLine" id="cb8-7" data-line-number="7"><span class="va">ctx</span>.<span class="at">is</span>(<span class="st">&#39;json&#39;</span><span class="op">,</span> <span class="st">&#39;urlencoded&#39;</span>)<span class="op">;</span> <span class="co">// =&gt; &#39;json&#39;</span></a>
<a class="sourceLine" id="cb8-8" data-line-number="8"><span class="va">ctx</span>.<span class="at">is</span>(<span class="st">&#39;application/json&#39;</span>)<span class="op">;</span> <span class="co">// =&gt; &#39;application/json&#39;</span></a>
<a class="sourceLine" id="cb8-9" data-line-number="9"><span class="va">ctx</span>.<span class="at">is</span>(<span class="st">&#39;html&#39;</span><span class="op">,</span> <span class="st">&#39;application/*&#39;</span>)<span class="op">;</span> <span class="co">// =&gt; &#39;application/json&#39;</span></a>
<a class="sourceLine" id="cb8-10" data-line-number="10"></a>
<a class="sourceLine" id="cb8-11" data-line-number="11"><span class="va">ctx</span>.<span class="at">is</span>(<span class="st">&#39;html&#39;</span>)<span class="op">;</span> <span class="co">// =&gt; false</span></a></code></pre></div>
<p>For example if you want to ensure that only images are sent to a given route:</p>
<div class="sourceCode" id="cb9"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb9-1" data-line-number="1"><span class="cf">if</span> (<span class="va">ctx</span>.<span class="at">is</span>(<span class="st">&#39;image/*&#39;</span>)) <span class="op">{</span></a>
<a class="sourceLine" id="cb9-2" data-line-number="2">  <span class="co">// process</span></a>
<a class="sourceLine" id="cb9-3" data-line-number="3"><span class="op">}</span> <span class="cf">else</span> <span class="op">{</span></a>
<a class="sourceLine" id="cb9-4" data-line-number="4">  <span class="va">ctx</span>.<span class="at">throw</span>(<span class="dv">415</span><span class="op">,</span> <span class="st">&#39;images only!&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb9-5" data-line-number="5"><span class="op">}</span></a></code></pre></div>
<h3 id="content-negotiation">Content Negotiation</h3>
<p>Koa's <code>request</code> object includes helpful content negotiation utilities powered by <a href="http://github.com/expressjs/accepts">accepts</a> and <a href="https://github.com/federomero/negotiator">negotiator</a>. These utilities are:</p>
<ul>
<li><code>request.accepts(types)</code></li>
<li><code>request.acceptsEncodings(types)</code></li>
<li><code>request.acceptsCharsets(charsets)</code></li>
<li><code>request.acceptsLanguages(langs)</code></li>
</ul>
<p>If no types are supplied, <strong>all</strong> acceptable types are returned.</p>
<p>If multiple types are supplied, the best match will be returned. If no matches are found, a <code>false</code> is returned, and you should send a <code>406 &quot;Not Acceptable&quot;</code> response to the client.</p>
<p>In the case of missing accept headers where any type is acceptable, the first type will be returned. Thus, the order of types you supply is important.</p>
<h3 id="requestacceptstypes">request.accepts(types)</h3>
<p>Check if the given <code>type(s)</code> is acceptable, returning the best match when true, otherwise <code>false</code>. The <code>type</code> value may be one or more mime type string such as &quot;application/json&quot;, the extension name such as &quot;json&quot;, or an array <code>[&quot;json&quot;, &quot;html&quot;, &quot;text/plain&quot;]</code>.</p>
<div class="sourceCode" id="cb10"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb10-1" data-line-number="1"><span class="co">// Accept: text/html</span></a>
<a class="sourceLine" id="cb10-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;html&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-3" data-line-number="3"><span class="co">// =&gt; &quot;html&quot;</span></a>
<a class="sourceLine" id="cb10-4" data-line-number="4"></a>
<a class="sourceLine" id="cb10-5" data-line-number="5"><span class="co">// Accept: text/*, application/json</span></a>
<a class="sourceLine" id="cb10-6" data-line-number="6"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;html&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-7" data-line-number="7"><span class="co">// =&gt; &quot;html&quot;</span></a>
<a class="sourceLine" id="cb10-8" data-line-number="8"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;text/html&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-9" data-line-number="9"><span class="co">// =&gt; &quot;text/html&quot;</span></a>
<a class="sourceLine" id="cb10-10" data-line-number="10"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;json&#39;</span><span class="op">,</span> <span class="st">&#39;text&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-11" data-line-number="11"><span class="co">// =&gt; &quot;json&quot;</span></a>
<a class="sourceLine" id="cb10-12" data-line-number="12"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;application/json&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-13" data-line-number="13"><span class="co">// =&gt; &quot;application/json&quot;</span></a>
<a class="sourceLine" id="cb10-14" data-line-number="14"></a>
<a class="sourceLine" id="cb10-15" data-line-number="15"><span class="co">// Accept: text/*, application/json</span></a>
<a class="sourceLine" id="cb10-16" data-line-number="16"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;image/png&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-17" data-line-number="17"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;png&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-18" data-line-number="18"><span class="co">// =&gt; false</span></a>
<a class="sourceLine" id="cb10-19" data-line-number="19"></a>
<a class="sourceLine" id="cb10-20" data-line-number="20"><span class="co">// Accept: text/*;q=.5, application/json</span></a>
<a class="sourceLine" id="cb10-21" data-line-number="21"><span class="va">ctx</span>.<span class="at">accepts</span>([<span class="st">&#39;html&#39;</span><span class="op">,</span> <span class="st">&#39;json&#39;</span>])<span class="op">;</span></a>
<a class="sourceLine" id="cb10-22" data-line-number="22"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;html&#39;</span><span class="op">,</span> <span class="st">&#39;json&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-23" data-line-number="23"><span class="co">// =&gt; &quot;json&quot;</span></a>
<a class="sourceLine" id="cb10-24" data-line-number="24"></a>
<a class="sourceLine" id="cb10-25" data-line-number="25"><span class="co">// No Accept header</span></a>
<a class="sourceLine" id="cb10-26" data-line-number="26"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;html&#39;</span><span class="op">,</span> <span class="st">&#39;json&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-27" data-line-number="27"><span class="co">// =&gt; &quot;html&quot;</span></a>
<a class="sourceLine" id="cb10-28" data-line-number="28"><span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;json&#39;</span><span class="op">,</span> <span class="st">&#39;html&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb10-29" data-line-number="29"><span class="co">// =&gt; &quot;json&quot;</span></a></code></pre></div>
<p>You may call <code>ctx.accepts()</code> as many times as you like, or use a switch:</p>
<div class="sourceCode" id="cb11"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb11-1" data-line-number="1"><span class="cf">switch</span> (<span class="va">ctx</span>.<span class="at">accepts</span>(<span class="st">&#39;json&#39;</span><span class="op">,</span> <span class="st">&#39;html&#39;</span><span class="op">,</span> <span class="st">&#39;text&#39;</span>)) <span class="op">{</span></a>
<a class="sourceLine" id="cb11-2" data-line-number="2">  <span class="cf">case</span> <span class="st">&#39;json&#39;</span><span class="op">:</span> <span class="cf">break</span><span class="op">;</span></a>
<a class="sourceLine" id="cb11-3" data-line-number="3">  <span class="cf">case</span> <span class="st">&#39;html&#39;</span><span class="op">:</span> <span class="cf">break</span><span class="op">;</span></a>
<a class="sourceLine" id="cb11-4" data-line-number="4">  <span class="cf">case</span> <span class="st">&#39;text&#39;</span><span class="op">:</span> <span class="cf">break</span><span class="op">;</span></a>
<a class="sourceLine" id="cb11-5" data-line-number="5">  <span class="dt">default</span><span class="op">:</span> <span class="va">ctx</span>.<span class="at">throw</span>(<span class="dv">406</span><span class="op">,</span> <span class="st">&#39;json, html, or text only&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb11-6" data-line-number="6"><span class="op">}</span></a></code></pre></div>
<h3 id="requestacceptsencodingsencodings">request.acceptsEncodings(encodings)</h3>
<p>Check if <code>encodings</code> are acceptable, returning the best match when true, otherwise <code>false</code>. Note that you should include <code>identity</code> as one of the encodings!</p>
<div class="sourceCode" id="cb12"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb12-1" data-line-number="1"><span class="co">// Accept-Encoding: gzip</span></a>
<a class="sourceLine" id="cb12-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">acceptsEncodings</span>(<span class="st">&#39;gzip&#39;</span><span class="op">,</span> <span class="st">&#39;deflate&#39;</span><span class="op">,</span> <span class="st">&#39;identity&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb12-3" data-line-number="3"><span class="co">// =&gt; &quot;gzip&quot;</span></a>
<a class="sourceLine" id="cb12-4" data-line-number="4"></a>
<a class="sourceLine" id="cb12-5" data-line-number="5"><span class="va">ctx</span>.<span class="at">acceptsEncodings</span>([<span class="st">&#39;gzip&#39;</span><span class="op">,</span> <span class="st">&#39;deflate&#39;</span><span class="op">,</span> <span class="st">&#39;identity&#39;</span>])<span class="op">;</span></a>
<a class="sourceLine" id="cb12-6" data-line-number="6"><span class="co">// =&gt; &quot;gzip&quot;</span></a></code></pre></div>
<p>When no arguments are given all accepted encodings are returned as an array:</p>
<div class="sourceCode" id="cb13"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb13-1" data-line-number="1"><span class="co">// Accept-Encoding: gzip, deflate</span></a>
<a class="sourceLine" id="cb13-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">acceptsEncodings</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb13-3" data-line-number="3"><span class="co">// =&gt; [&quot;gzip&quot;, &quot;deflate&quot;, &quot;identity&quot;]</span></a></code></pre></div>
<p>Note that the <code>identity</code> encoding (which means no encoding) could be unacceptable if the client explicitly sends <code>identity;q=0</code>. Although this is an edge case, you should still handle the case where this method returns <code>false</code>.</p>
<h3 id="requestacceptscharsetscharsets">request.acceptsCharsets(charsets)</h3>
<p>Check if <code>charsets</code> are acceptable, returning the best match when true, otherwise <code>false</code>.</p>
<div class="sourceCode" id="cb14"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb14-1" data-line-number="1"><span class="co">// Accept-Charset: utf-8, iso-8859-1;q=0.2, utf-7;q=0.5</span></a>
<a class="sourceLine" id="cb14-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">acceptsCharsets</span>(<span class="st">&#39;utf-8&#39;</span><span class="op">,</span> <span class="st">&#39;utf-7&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb14-3" data-line-number="3"><span class="co">// =&gt; &quot;utf-8&quot;</span></a>
<a class="sourceLine" id="cb14-4" data-line-number="4"></a>
<a class="sourceLine" id="cb14-5" data-line-number="5"><span class="va">ctx</span>.<span class="at">acceptsCharsets</span>([<span class="st">&#39;utf-7&#39;</span><span class="op">,</span> <span class="st">&#39;utf-8&#39;</span>])<span class="op">;</span></a>
<a class="sourceLine" id="cb14-6" data-line-number="6"><span class="co">// =&gt; &quot;utf-8&quot;</span></a></code></pre></div>
<p>When no arguments are given all accepted charsets are returned as an array:</p>
<div class="sourceCode" id="cb15"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb15-1" data-line-number="1"><span class="co">// Accept-Charset: utf-8, iso-8859-1;q=0.2, utf-7;q=0.5</span></a>
<a class="sourceLine" id="cb15-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">acceptsCharsets</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb15-3" data-line-number="3"><span class="co">// =&gt; [&quot;utf-8&quot;, &quot;utf-7&quot;, &quot;iso-8859-1&quot;]</span></a></code></pre></div>
<h3 id="requestacceptslanguageslangs">request.acceptsLanguages(langs)</h3>
<p>Check if <code>langs</code> are acceptable, returning the best match when true, otherwise <code>false</code>.</p>
<div class="sourceCode" id="cb16"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb16-1" data-line-number="1"><span class="co">// Accept-Language: en;q=0.8, es, pt</span></a>
<a class="sourceLine" id="cb16-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">acceptsLanguages</span>(<span class="st">&#39;es&#39;</span><span class="op">,</span> <span class="st">&#39;en&#39;</span>)<span class="op">;</span></a>
<a class="sourceLine" id="cb16-3" data-line-number="3"><span class="co">// =&gt; &quot;es&quot;</span></a>
<a class="sourceLine" id="cb16-4" data-line-number="4"></a>
<a class="sourceLine" id="cb16-5" data-line-number="5"><span class="va">ctx</span>.<span class="at">acceptsLanguages</span>([<span class="st">&#39;en&#39;</span><span class="op">,</span> <span class="st">&#39;es&#39;</span>])<span class="op">;</span></a>
<a class="sourceLine" id="cb16-6" data-line-number="6"><span class="co">// =&gt; &quot;es&quot;</span></a></code></pre></div>
<p>When no arguments are given all accepted languages are returned as an array:</p>
<div class="sourceCode" id="cb17"><pre class="sourceCode js"><code class="sourceCode javascript"><a class="sourceLine" id="cb17-1" data-line-number="1"><span class="co">// Accept-Language: en;q=0.8, es, pt</span></a>
<a class="sourceLine" id="cb17-2" data-line-number="2"><span class="va">ctx</span>.<span class="at">acceptsLanguages</span>()<span class="op">;</span></a>
<a class="sourceLine" id="cb17-3" data-line-number="3"><span class="co">// =&gt; [&quot;es&quot;, &quot;pt&quot;, &quot;en&quot;]</span></a></code></pre></div>
<h3 id="requestidempotent">request.idempotent</h3>
<p>Check if the request is idempotent.</p>
<h3 id="requestsocket">request.socket</h3>
<p>Return the request socket.</p>
<h3 id="requestgetfield">request.get(field)</h3>
<p>Return request header.</p>
